# Control Structures

## Conditional statements

if condition:

    code to run when condition is True

else:

    code to run if no conditions above are True

In [3]:
num = 2

In [5]:
if num < 3:
    print('smaller than 3')

smaller than 3

In [6]:
if num > 5:
    print('bigger than 5')
else:
    print('not bigger than 5')

not bigger than 5

In [12]:
num = 2
if num > 5:
    print('bigger than 5')
elif num < 3:
    print('smaller than 3')
else:
    print('neither')
print('general')

smaller than 3

In [13]:
val = (num < 1)
if val is True:
    print("This is where `True` code is run")
else:
    print("This is where `False` code is run")
    print("More else code")

print("Code runs after 'if' block, regardless of val")

This is where `False` code is run
More else code
Code runs after 'if' block, regardless of val

In [15]:
num

2

In [16]:
num2 = 6
if num > 2 and num2 > 6:
    print('both')
elif num > 3 or num2 > 6:
    print('condition 2')
elif not num > 3:
    print('Last condition')

Last condition

In [17]:
a = 4
b = 1 if a>=5 else 42
print(b)

42

### Exercise
rewrite the above code using "normal" conditional statements

In [18]:
a = 4
if a>=5:
    b = 1
else:
    b = 42
print(b)

42

## Iterations
Lists, tuples, dicts, and range/zip/enumerate objects are all iterables.

### `for` loops

In [ ]:
#for item in iterable:
    #operation 1 with item
    #operation 2 with item
    #...
    #operation N with item

what is the square root of each element in a list?

In [19]:
x = [16, 36, 81, 256]

In [21]:
import math

In [22]:
math.sqrt(16)

4.0

In [23]:
math.sqrt(x[0])

4.0

In [24]:
math.sqrt(x[1])

6.0

In [25]:
math.sqrt(x[2])

9.0

In [26]:
for number in x:
    print(math.sqrt(number))

4.0
6.0
9.0
16.0

In [27]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]

with a `for` loop, print out: city 0 is Phoenix, city 1 is Austin ...

In [28]:
list(range(4))

[0, 1, 2, 3]

In [30]:
for i in range(4):
    print(f'city {i} is {cities[i]}')

city 0 is Phoenix
city 1 is Austin
city 2 is San Diego
city 3 is New York

In [31]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]
states = ["Arizona", "Texas", "California", "New York"]

### Exercise
Print out 

state 0 is Arizona, and city 0 is Phoenix

state 1 is Texas, and city 1 is Austin

state 2 is California, and city 2 is San Diego

state 3 is New York, and city 3 is New York

In [32]:
for i in range(4):
    print(f'state {i} is {states[i]}, and city {i} is {cities[i]}')

state 0 is Arizona, and city 0 is Phoenix
state 1 is Texas, and city 1 is Austin
state 2 is California, and city 2 is San Diego
state 3 is New York, and city 3 is New York

In [33]:
temp = enumerate(cities)
print(list(temp))

[(0, 'Phoenix'), (1, 'Austin'), (2, 'San Diego'), (3, 'New York')]

### Exercise
Use the `enumerate` command and a `for` loop, print out:

Phoenix is in Arizona

Austin is in Texas

San Diego is in California

New York is in New York

Do NOT use `range` command

In [34]:
for index, city in enumerate(cities):
    print(f'{city} is in {states[index]}')

Phoenix is in Arizona
Austin is in Texas
San Diego is in California
New York is in New York

### Exercise
Same as the above, but this time, only print out a statement if the state name is longer than 5 characters

In [35]:
for index, city in enumerate(cities):
    if len(states[index])>5:
        print(f"{city} is in {states[index]}")

Phoenix is in Arizona
San Diego is in California
New York is in New York

### Exercise
Same as the above, but this time, use the `zip` command

In [37]:
list(zip(cities, states))

[('Phoenix', 'Arizona'),
 ('Austin', 'Texas'),
 ('San Diego', 'California'),
 ('New York', 'New York')]

In [1]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]
states = ["Arizona", "Texas", "California", "New York"]

In [2]:
for state, city in zip(states, cities):
    if len(state)>5:
        print(f'{city} is in {state}')

Phoenix is in Arizona
San Diego is in California
New York is in New York

A special feature of `zip` and `enumerate`: 
**the output of them is depleted after one use**

In [3]:
zipped = zip(states, cities)

In [4]:
for state, city in zipped:
    print(state, city)

Arizona Phoenix
Texas Austin
California San Diego
New York New York

In [5]:
for state, city in zipped:
    print(state, city)

In [6]:
list(zipped)

[]

In [9]:
for state in states:
    print(state)

Arizona
Texas
California
New York

## `while` loops
``` python
while True_condition:
    # repeat these steps
```

In [10]:
i = 0
while i < 2:
    print(cities[i])
    i = i + 1

Phoenix
Austin

### Exercise
Print out the following statement using a `while` loop

state 0 is Arizona, and city 0 is Phoenix

state 1 is Texas, and city 1 is Austin

state 2 is California, and city 2 is San Diego

state 3 is New York, and city 3 is New York

In [11]:
i = 0
while i < 4:
    print(f'state {i} is {states[i]}, and city {i} is {cities[i]}')
    i +=1 # i = i+1

state 0 is Arizona, and city 0 is Phoenix
state 1 is Texas, and city 1 is Austin
state 2 is California, and city 2 is San Diego
state 3 is New York, and city 3 is New York

## `break` and `continue`

In [14]:
for i in range(10):
    if i == 6:
        print('got here')
        break
        print(i)
    else:
        print('unbroken')

unbroken
unbroken
unbroken
unbroken
unbroken
unbroken
got here

In [15]:
for i in range(10):
    if i == 6:
        print('got here')
        continue
        print(i)
    else:
        print('unbroken')

unbroken
unbroken
unbroken
unbroken
unbroken
unbroken
got here
unbroken
unbroken
unbroken

### Exercise
print out every number between 0 and 9 except 5

In [16]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

## Comprehension

In [17]:
x = [ 1, 2, 4, 57]

Task: use a loop to create a new list, each element of which is the squared of x

In [18]:
x_2 = []

In [19]:
for x_val in x:
    x_2.append(x_val**2)

In [21]:
x_2

[1, 4, 16, 3249]

In [22]:
x2_comp = [ x_val**2 for x_val in x ]

In [23]:
x2_comp

[1, 4, 16, 3249]

In [24]:
doubles = [ 2*x for x in range(8)]

In [25]:
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

In [26]:
animals = ['dog','cat','bird']

In [27]:
plurals = [ animal+'s' for animal in animals ]

In [28]:
plurals

['dogs', 'cats', 'birds']